Repository Requisitos-de-Software/2021.1-Ingresso.com, pull requests merged in 2021-09, with the labels that each got.

#66 #64 Adicionando ata da reunião do dia 31/08
  docs/atas/ata31_08.md
  mkdocs.yml
Labels: documentation

#68 #63 Modelagem ágil iStar
  docs/assets/modelagem/Istar/cinema1.png
  docs/assets/modelagem/Istar/cinema2.png
  docs/assets/modelagem/Istar/conta1.png
  docs/assets/modelagem/Istar/conta2.png
  docs/assets/modelagem/Istar/ingresso1.png
  docs/assets/modelagem/Istar/ingresso2.png
  docs/assets/modelagem/Istar/noticia.png
  docs/modelagem/istar.md
  mkdocs.yml
Labels: documentation, Modelagem de Requisitos

#71 Modelagem NFR Framework
  docs/assets/modelagem/nfr/nfr_confiabilidade.png
  docs/assets/modelagem/nfr/nfr_confiabilidade_propagacao.png
  docs/assets/modelagem/nfr/nfr_desempenho.png
  docs/assets/modelagem/nfr/nfr_desempenho_propagacao.png
  docs/assets/modelagem/nfr/nfr_suportabilidade.png
  docs/assets/modelagem/nfr/nfr_suportabilidade_propagacao.png
  docs/assets/modelagem/nfr/nfr_usabilidade.png
  docs/assets/modelagem/nfr/nfr_usabilidade_propagacao.png
  docs/modelagem/nfr_framework.md
  mkdocs.yml
Labels: documentation, Modelagem de Requisitos

#73 #72 Ponto de controle 4
  docs/apresentacoes/p4.md
  docs/planejamento/index.md
  mkdocs.yml
Labels: documentation, Modelagem de Requisitos

#70 Modelagem Product Backlog
  docs/modelagem/historias_usuario.md
  docs/modelagem/product_backlog.md
  mkdocs.yml
Labels: documentation, Modelagem de Requisitos

#78 #74 Verificação iStar
  docs/verificacao/istar.md
  mkdocs.yml
Labels: documentation, Verificação

#77 Verificação Product Backlog
  docs/verificacao/product_backlog.md
  mkdocs.yml
Labels: documentation, Verificação

#82 Verificação Casos de Uso
  docs/verificacao/casos_de_uso.md
  docs/verificacao/product_backlog.md
  mkdocs.yml
Labels: documentation, Verificação

#87 #86 Verificação NFR Framework
  docs/verificacao/nfr.md
  mkdocs.yml
Labels: documentation, Verificação

#80 #79 Verificação Léxicos
  docs/verificacao/istar.md
  docs/verificacao/lexicos.md
  mkdocs.yml
Labels: documentation, Verificação

#88 #83 Verificação Cenários
  docs/verificacao/cenarios.md
  mkdocs.yml
Labels: documentation, Verificação

#90 #89 Verificaçao rich picture
  docs/verificacao/cenarios.md
  docs/verificacao/rich_picture.md
  mkdocs.yml
Labels: documentation, Verificação

#85 #75 Validação Viewpoint
  docs/modelagem/lexicos.md
  docs/validacao/viewpoint.md
  mkdocs.yml
Labels: documentation, Validação

#94 #92 Ponto de controle 5
  docs/apresentacoes/p5.md
  docs/planejamento/index.md
  mkdocs.yml
Labels: documentation, Verificação, Validação

#93 #91 Validacao protótipo
  docs/validacao/prototipo.md
  mkdocs.yml
Labels: documentation, Validação

#95 #84 Validação Informal
  docs/validacao/validacao_informal.md
  mkdocs.yml
Labels: documentation, Validação
