Repository Requisitos-de-Software/2021.1-Ingresso.com, pull requests merged in 2021-08, with the labels that each got.

#13 #5 Adicionando rich pictures do projeto
  docs/assets/pre_rastreabilidade/richPictureV1.png
  docs/assets/pre_rastreabilidade/richPictureV2.png
  docs/pre_rastreabilidade/rich_picture.md
  mkdocs.yml
Labels: Pré-Rastreabilidade, documentation

#14 Edição dos documentos introdutórios do projeto
  README.md
  docs/assets/ingresso-logo.png
  docs/index.md
  mkdocs.yml
Labels: documentation

#15 #6 Adição do primeiro ponto de controle
  docs/apresentacoes/p1.md
  mkdocs.yml
Labels: Pré-Rastreabilidade, documentation

#17 #16 Correções de legendas e referências
  docs/index.md
  docs/planejamento/index.md
  docs/pre_rastreabilidade/rich_picture.md
Labels: documentation

#33 Adição dos documentos contendo as atas
  docs/atas/ata05_08.md
  docs/atas/ata27_07.md
  mkdocs.yml
Labels: documentation

#36 #24 Justificativa de Escolha do App
  docs/index.md
Labels: documentation

#34 #26 Documento de elicitação de personas
  docs/assets/personas/alice_severiano.png
  docs/assets/personas/anabele_lira.png
  docs/assets/personas/cleber_roger.png
  docs/assets/personas/luciano_primo.png
  docs/assets/personas/regianne_moura.png
  docs/assets/personas/rodrigo_pereira.png
  docs/elicitacao/personas.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#38 #27 Documento de análise de protocolo
  docs/elicitacao/analiseProtocolo.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#35 #23 Documento de Storytelling
  docs/assets/planejamento/logos/storyboardThat.png
  docs/assets/storytelling/story1.png
  docs/assets/storytelling/story2.png
  docs/assets/storytelling/story3.png
  docs/elicitacao/storytelling.md
  docs/planejamento/index.md
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#39 #18 5W2H
  docs/elicitacao/5w2h.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#40 #25 Elicitação - Introspecção
  docs/elicitacao/introspeccao.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#41 #22 Documento de elicitação de entrevistas
  docs/elicitacao/entrevistas.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#42 #20 Documento de brainstorming
  docs/elicitacao/brainstorming.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos

#43 #31 adicionando documento relacionado ao questionario
  docs/assets/questionario/q1.png
  docs/assets/questionario/q10.png
  docs/assets/questionario/q11.png
  docs/assets/questionario/q12.png
  docs/assets/questionario/q13.png
  docs/assets/questionario/q2.png
  docs/assets/questionario/q3.png
  docs/assets/questionario/q4.png
  docs/assets/questionario/q5.png
  docs/assets/questionario/q6.png
  docs/assets/questionario/q7.png
  docs/assets/questionario/q8.png
  docs/assets/questionario/q9.png
  docs/elicitacao/questionario.md
  mkdocs.yml
Labels: documentation

#48 #47 Adição do ponto de controle 2
  docs/apresentacoes/p1.md
  docs/apresentacoes/p2.md
  mkdocs.yml
Labels: documentation, Elicitação de Requisitos, Priorização de Requisitos

#45 #29 Priorização MoSCoW
  docs/priorizacao/moscow.md
  mkdocs.yml
Labels: documentation, Priorização de Requisitos

#46 #30 Priorização house of quality
  docs/assets/prorizacao/house_of_quality.png
  docs/priorizacao/house_of_quality.md
  mkdocs.yml
Labels: documentation, Priorização de Requisitos

#44 #28 Priorização First Things First
  docs/assets/priorizacao/formula_prioridade.png
  docs/priorizacao/first_things_first.md
  mkdocs.yml
Labels: documentation, Priorização de Requisitos

#55 #53 Adicionando Ata da reunião do dia 24/08
  docs/atas/ata24_08.md
  mkdocs.yml
Labels: documentation

#57 #53 Melhoria do cronograma
  docs/planejamento/index.md
Labels: documentation

#62 #61 Ponto de controle 3
  docs/apresentacoes/p1.md
  docs/apresentacoes/p2.md
  docs/apresentacoes/p3.md
  docs/planejamento/index.md
  mkdocs.yml
Labels: documentation

#59 #52 Modelagem Cenários
  docs/modelagem/cenarios.md
  mkdocs.yml
Labels: documentation, Modelagem de Requisitos
